body {
    background: url(../images/snow.png);
}
main {
    margin-top: 60px;
}
h1 {
    margin-bottom: 1em;
}
#login-link-container {
    margin-top: 9px;
}
.label-clientside {
    background: #049cdb;
}
.label-ssp {
    background: #ffc40d;
}
.label-lan {
    background: #46a546;
}
.label-smp {
    background: #9d261d;
}
.label-na {
    background: #7a43b6;
}
#inputDescription {
    width: 97%;
}
