.pagination-well {
    position: relative;
}
.pagination-holder {
    height: 30px;
}
.mod-table input, .mod-table select {
    margin: 0;
}
.pagination-button-container{
    text-align: center;
}
.pagination_perpage {
    position:absolute;
    top: 12px;
    left: 9px;
}
.pagination_perpage label, .selectPerPage {
    display: inline;
}
#selectPerPage {
    margin: 0;
}
.pagination-button-container {
    margin: 0;
}
.label-clientside {
    background: #049cdb;
}
.label-ssp {
    background: #ffc40d;
}
.label-lan {
    background: #46a546;
}
.label-smp {
    background: #9d261d;
}
.label-na {
    background: #7a43b6;
}