<template name="mods">

    <table class="table table-striped mod-table" id="mods">
        <thead>
            <tr>
                <th><input type="text" id="inputModSearch" name="modSearch" placeholder="Name"></th>
                <th>Supports</th>
                <th>Author</th>
                <th>
                    <select id="inputAvailability" name="availability">
                        <option value="">Availability (All)</option>
                        <option value="clientside">Clientside</option>
                        <option value="ssp">SSP</option>
                        <option value="lan">LAN</option>
                        <option value="smp">SMP</option>
                        <option value="na">N/A</option>
                    </select>
                </th>
                <th>
                    <select id="inputForge" name="forge">
                        <option value="">Forge Compatibility (All)</option>
                        <option value="yes">Forge Compatible</option>
                        <option value="required">Forge Required</option>
                        <option value="no">Not Forge Compatible</option>
                    </select>
                </th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {{#each mods}}
                {{> modRow}}
            {{/each}}
        </tbody>
    </table>

    <div class="pagination-well well well-small">
        <div class="pagination-holder">
            {{> pagination}}
        </div>
    </div>
</template>

<template name="modRow">
    <tr>
        <td>{{title}} - {{version}}</td>
        <td>{{supports}}</td>
        <td>{{author}}</td>
        <td>
            {{#each availability}}
                {{> badge}}
            {{/each}}
        </td>
        <td>{{forge_icon forge}}</td>
        <td>{{time_since updated}}</td>
    </tr>
</template>

<template name="badge">
    <span class="label label-{{cssify this}}">{{this}}</span>
</template>

<template name="pagination">
    {{#if hasMultiplePages}}
        <div class="pagination pagination-button-container">
            <ul>
                <li class="{{checkFirst}}"><a href="#" data-page="back" class="pageButton">&laquo;</a></li>
                {{#times totalPages}}
                    <li class="{{checkActive this}}"><a href="#" data-page="{{this}}"  class="pageButton">{{plusOne this}}</a></li>
                {{/times}}
                <li class="{{checkLast}}"><a href="#" data-page="next" class="pageButton">&raquo;</a></li>
            </ul>
        </div>
    {{/if}}
</template>