<template name="mods">
    <table class="table table-striped" id="mods">
        <thead>
            <tr>
                <th>Name</th>
                <th>Supports</th>
                <th>Author</th>
                <th>Availability</th>
                <th>Forge Compatibility</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {{#each mods}}
                {{> modRow}}
            {{/each}}
        </tbody>
    </table>

    <div class="pagination-well well well-small">
        <div class="pagination-holder">
            {{> pagination}}
        </div>
    </div>
</template>

<template name="modRow">
    <tr>
        <td>{{title}} - {{version}}</td>
        <td>{{supports}}</td>
        <td>{{author}}</td>
        <td>
            {{#each availability}}
                {{> badge}}
            {{/each}}
        </td>
        <td>{{forge_icon forge}}</td>
        <td>{{time_since updated}}</td>
    </tr>
</template>

<template name="badge">
    <span class="label label-{{cssify this}}">{{this}}</span>
</template>

<template name="pagination">
    {{#if hasMultiplePages}}
        <div class="pagination pagination-button-container">
            <ul>
                <li class="{{checkFirst}}"><a href="#" data-page="back" class="pageButton">&laquo;</a></li>
                {{#times totalPages}}
                    <li class="{{checkActive this}}"><a href="#" data-page="{{this}}"  class="pageButton">{{plusOne this}}</a></li>
                {{/times}}
                <li class="{{checkLast}}"><a href="#" data-page="next" class="pageButton">&raquo;</a></li>
            </ul>
        </div>
    {{/if}}
</template>