<template name="mod">
{{#with mod}}
    <div class="content-box single-mod">
        <h1>{{title}} <span class="muted">by {{author}}</span></h1>
        <div class="row-fluid">

            <div class="span4">
                <ul class="nav nav-tabs" id="mod-tabs">
                    <li class="active"><a href="#mod-images" data-toggle="tab">Images</a></li>
                    <li><a href="#mod-videos" data-toggle="tab">Videos</a></li>
                    <li><a href="#mod-spotlights" data-toggle="tab">Spotlights</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="mod-images">
                        <div class="image-gallery">
                            <div class="image-focus">
                                    <img src="{{focusImage.url}}" alt="{{focusImage.alt}}" class="img-polaroid">
                            </div>
                            <div class="well well-small image-thumbs clearfix">
                                {{#each images}}
                                    <a href="#" class="thumb-link pull-left"><img src="{{url}}" alt="{{alt}}" class="img-polaroid"></a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="mod-videos">
                        <p class="muted">Coming soon...</p>
                    </div>
                    <div class="tab-pane" id="mod-spotlights">
                        <p class="muted">Coming soon...</p>
                    </div>
                </div>
            </div>

            <div class="span8">
                <ul class="nav nav-tabs" id="mod-tabs">
                    <li class="active"><a href="#mod-info" data-toggle="tab">Info</a></li>
                    <li><a href="#mod-recipes" data-toggle="tab">Recipes</a></li>
                    <li><a href="#mod-configuration" data-toggle="tab">Configuration</a></li>
                    <li><a href="#mod-versions" data-toggle="tab">Downloads</a></li>
                    <li><a href="#mod-changes" data-toggle="tab">Change Log</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="mod-info">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span6">
                                    <ul class="unstyled">
                                        <li>Supports Minecraft {{supports}}</li>
                                        <li>{{forge_icon forge}}</li>
                                        <li>Availability:
                                {{#each availability}}
                                    {{> badge}}
                                {{/each}}
                            </li>
                                    </ul>
                                </div>
                                <div class="span6">
                                    <ul class="unstyled">
                                        <li>Created {{time_readable created}}</li>
                                        <li>Last updated {{time_since updated}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p class="text-center"><a href="{{latest download}}" class="download btn btn-primary btn-large">Download Latest Version</a></p>
                        <div class="description">
                            {{{markdown_to_html description}}}
                        </div>
                    </div>
                    <div class="tab-pane" id="mod-recipes">
                        <p class="muted">Coming soon...</p>
                    </div>
                    <div class="tab-pane" id="mod-configuration">
                        <p class="muted">Coming soon...</p>
                    </div>
                    <div class="tab-pane" id="mod-versions">
                        <p class="muted">Coming soon...</p>
                    </div>
                    <div class="tab-pane" id="mod-changes">
                        <p class="muted">Coming soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/with}}
</template>
