label {
    margin-top: 1em;
    font-weight: 700;
}

#inputDescription {
    width: 96%;
    height: 200px;
}

.image-gallery{

}

.image-gallery h2{

}

.image-focus{
    padding: 1em;
}
.image-focus img{
    display: block;
    margin:0 auto;
}
.thumb-link {
    margin: 2px;
}
.image-thumbs img{
    height: 58px;
}
.wyswig-holder{
    margin-top: .5em;
}
.wyswig-holder .btn-toolbar {
    margin-top: 0;
}
#inputDescription {
    min-height: 250px;
    background-color: #FFF;
    border-collapse: separate;
    border: 1px solid #CCC;
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-radius: 3px;
    overflow: scroll;
    outline: none;
}
div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}
#editor {
    width: 100%;
    min-height: 200px;
}
#preview {
    min-height: 206px;
}
#submit-mod {
    display: block;
    margin: 0 auto;
}