<template name="submit">
    <h1>Submit a mod</h1>
    {{#if showSuccessDialog}}
        {{> successDialog}}
    {{/if}}

    {{#if currentUser}}
        {{> submitForm}}
    {{else}}
    <div class="alert alert-block">
        <h4>Login required</h4>
        <br>
        <p>Please <button id="login-reveal" class="btn btn-small">Sign in</button> to submit a mod.</p>
    </div>
    {{/if}}
</template>

<template name="submitForm">
    <form id="submitForm">
        <div class="row">
            <div class="span8">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label for="inputTitle" class="control-label">Mod Name</label>
                            <div class="controls">
                                <input type="text" id="inputTitle" name="title" required>
                                <span class="help-inline">Title required.</span>
                            </div>
                        </div>

                        <label for="inputAuthor">Author Nickname</label>
                        <input type="text" id="inputAuthor" name="author">

                        <label for="inputForge">Compatibility with Forge</label>
                        <select id="inputForge" name="forge">
                            <option value="yes">&lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt; Forge Compatible</option>
                            <option value="required">&lt;i class=&quot;icon-lock&quot;&gt;&lt;/i&gt; Forge Required</option>
                            <option value="no">&lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt; Not Forge Compatible</option>
                        </select>
                    </div>

                    <div class="span6">
                        <div class="control-group">
                            <label for="inputVersion" class="control-label">Mod Version</label>
                            <div class="controls">
                                <input type="text" id="inputVersion" name="version" placeholder="1.0.0" required>
                                <span class="help-inline">Version required.</span>
                            </div>
                        </div>

                        <label for="inputSupports">Latest supported version of Minecraft</label>
                        <select type="text" id="inputSupports" name="supports">
                            <option>1.5.2</option>
                            <option>1.5.1</option>
                            <option>1.5.0</option>
                            <option>1.4.6/1.4.7</option>
                            <option>1.4.4/1.4.5</option>
                            <option>1.4.2</option>
                        </select>

                        <label for="inputAvailability">Availability</label>
                        <select id="inputAvailability" name="availability" multiple placeholder="Pick some tags">
                            <option value="clientside">Clientside</option>
                            <option value="ssp">SSP</option>
                            <option value="lan">LAN</option>
                            <option value="smp">SMP</option>
                            <option value="na">N/A</option>
                        </select>
                        <span class="help-block">Please select all that apply</span>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label for="inputDownload" class="control-label">Download Link</label>
                    <div class="controls">
                        <input type="url" id="inputDownload" name="download" placeholder="http://filez.com/your-mod.zip" required>
                        <button id="inputFile" class="btn">Upload Mod</button>
                        <span class="help-block">Upload a file from your your computer, or provide us with a link to your download.</span>
                        <span class="text-success success-block"><strong>Upload Successful!</strong></span>
                        <span class="help-inline">URL required.</span>
                    </div>
                </div>
                {{> submitGallery}}
                <button id="inputImage" class="btn">Add Images</button>
                <span class="help-block">Upload images from your your computer</span>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="wyswig-holder">
                    <div class="control-group">
                        <label for="editor" class="control-label"><h3>Description</h3></label>
                        <div class="controls">
                            <div id="toolbar"></div>
                            <textarea id="editor" required></textarea>
                            <div class="alert alert-error help-inline">Description required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <h3>Preview:</h3>
                <div id="preview" class="well"></div>
            </div>
        </div>
        

        <div class="row">
            <button id="submit-mod" class="btn btn-primary btn-large">Submit Mod</button>
        </div>

    </form>
</template>

<template name="successDialog">
    <div class="modal-backdrop fade in"></div>
    <div class="modal">
        <div class="modal-header">
            <h3>Submit complete</h3>
        </div>

        <div class="modal-body">

            <div class="alert alert-success">
                <p><strong>Thank you!</strong></p>
                <p>Your mod was successfully submitted to the Minecraft Mod List.</p>
            </div>
        </div>

        <div class="modal-footer">
            <a href="/" class="btn btn-primary save">Okay</a>
        </div>
    </div>
</template>

<template name="submitGallery">
    <div class="image-gallery">
        <h2 class="text-center">Mod Images</h2>

        <div class="image-focus">
            <img src="{{focusImage.url}}" alt="{{focusImage.alt}}" class="img-rounded">
        </div>
        <div class="well well-small image-thumbs clearfix">
            {{#each images}}
            <a href="#" class="thumb-link pull-left"><img src="{{url}}" alt="{{alt}}" class="img-polaroid"></a>
            {{/each}}
        </div>
    </div>
</template>
