<template name="submit">
    <h1>Submit a mod</h1>
    {{#if showSuccessDialog}}
        {{> successDialog}}
    {{/if}}

    {{#if currentUser}}
        {{> submitForm}}
    {{else}}
    <div class="alert alert-block">
        <h4>Login required</h4>
        <br>
        <p>Please <button id="login-reveal" class="btn btn-small">Sign in</button> to submit a mod.</p>
    </div>
    {{/if}}
</template>

<template name="submitForm">
    <form id="submitForm">
        {{#if error}}
        <div class="alert alert-error">{{error}}</div>
        {{/if}}
        <div class="row">
            <div class="span8">
                <div class="row-fluid">
                    <div class="span6">
                        <label for="inputTitle">Mod Name</label>
                        <input type="text" id="inputTitle" name="title">

                        <label for="inputAuthor">Author Nickname</label>
                        <input type="text" id="inputAuthor" name="author">

                        <label for="inputForge">Compatibility with Forge</label>
                        <select id="inputForge" name="forge">
                            <option value="yes">&lt;i class=&quot;icon-ok&quot;&gt;&lt;/i&gt; Forge Compatible</option>
                            <option value="required">&lt;i class=&quot;icon-lock&quot;&gt;&lt;/i&gt; Forge Required</option>
                            <option value="no">&lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt; Not Forge Compatible</option>
                        </select>
                    </div>

                    <div class="span6">
                        <label for="inputVersion">Mod version</label>
                        <input type="text" id="inputVersion" name="version" placeholder="1.0.0">

                        <label for="inputSupports">Latest supported version of Minecraft</label>
                        <select type="text" id="inputSupports" name="supports">
                            <option>1.5.2</option>
                            <option>1.5.1</option>
                            <option>1.5.0</option>
                            <option>1.4.6/1.4.7</option>
                            <option>1.4.4/1.4.5</option>
                            <option>1.4.2</option>
                        </select>

                        <label for="inputAvailability">Availability</label>
                        <select id="inputAvailability" name="availability" multiple placeholder="Pick some tags">
                            <option value="clientside">Clientside</option>
                            <option value="ssp">SSP</option>
                            <option value="lan">LAN</option>
                            <option value="smp">SMP</option>
                            <option value="na">N/A</option>
                        </select>
                        <span class="help-block">Please select all that apply</span>
                    </div>
                </div>
            </div>
            <div class="span4">
                {{> submitGallery}}
                <button id="inputImage" class="btn">Add Images</button>
                <span class="help-block">Upload images from your your computer, or share pictures from Facebook, Dropbox, Instagram...</span>
            </div>
        </div>
        <div class="row">
            <h3>Description</h3>
            <div class="wyswig-holder well">
                <div id="alerts"></div>
                {{> editor}}
            </div>
            <button id="submit-mod" class="btn btn-primary">Submit</button>
        </div>
    </form>
</template>

<template name="successDialog">
    <div class="modal-backdrop fade in"></div>
    <div class="modal">
        <div class="modal-header">
            <h3>Submit complete</h3>
        </div>

        <div class="modal-body">

            <div class="alert alert-success">
                <p><strong>Thank you!</strong></p>
                <p>Your mod was successfully submitted to the Minecraft Mod List.</p>
            </div>
        </div>

        <div class="modal-footer">
            <a href="/" class="btn btn-primary save">Okay</a>
        </div>
    </div>
</template>

<template name="submitGallery">
    <div class="image-gallery">
        <h2 class="text-center">Mod Images</h2>

        <div class="image-focus">
            <img src="{{focusImage.url}}" alt="{{focusImage.alt}}" class="img-rounded">
        </div>
        <div class="well well-small image-thumbs clearfix">
            {{#each images}}
            <a href="#" class="thumb-link pull-left"><img src="{{url}}" alt="{{alt}}" class="img-polaroid"></a>
            {{/each}}
        </div>
    </div>
</template>

<template name="editor">
    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"> <i class="icon-text-height"></i>&nbsp; <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-edit="fontSize 5"> <font size="5">Huge</font></a></li>
                <li><a data-edit="fontSize 3"> <font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)">
                <i class="icon-underline"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
            <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
            <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
            <div class="dropdown-menu input-append">
                <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                <button class="btn" type="button">Add</button>
            </div>
            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>
        </div>
    </div>

    <div id="inputDescription" placeholder="Tell us about your mod..."></div>
</template>
